.card {
    display: flex;
    flex-direction: column;
    max-width: 21.87rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: .3rem .3rem .6rem rgba(0, 0, 0, 0.24);
    margin: .6rem ;

    .card-background {
        position: relative;
        border-radius: 1.25rem 1.25rem 0 0;
    }

    .profile {
        width: 6rem;
        border-radius: 50%;
        position: absolute;
        top: 36%;
        border: .3rem solid white;
    }

    .name-age-city {
        margin: 4rem 0 -0.6rem 0;
        text-align: center;
        padding: 0 0 2.5rem 0;

        h1 {
            margin-bottom: .6rem;
            font-size: 1.25rem;
            color: $very-dark-desaturated-blue;
        }

        p {
            margin-bottom: -0.6rem;
            color: $dark-grayish-blue;
            font-weight: $medium-font;
            font-size: .9rem;
        }

        span {
            color: $dark-grayish-blue;
            font-weight: $medium-font;
            margin-left: 0.8rem;
        }
    }
    
    hr {
        border: 0.1px solid $dark-gray;
        width: 100%;
    }

    .stats-block {
        display: flex;
        width: 100%;
        padding: 7%;
        justify-content: space-around;

        .stat {
            text-align: center;
            font-size: 1.1rem;
            color: $very-dark-desaturated-blue;

            .stat-number {
                font-weight: $large-font;
            }

            .stat-title {
                font-size: .75rem;
                font-weight: $medium-font;
                color: $dark-grayish-blue;
            }
        }
    }
}

@media screen and (max-width: 435px) {
    div.card {
      width: 18rem;

      .card-background{
          width: 18rem;
      }
      .profile{
          width: 4rem;
          position: relative;
          top: -1.95rem;
      }
      .name-age-city{
          margin-top: -0.6rem;
          h1{
              font-size: 1rem;
          }
      }
    }
    .stats-block{
        .stat-number{
            font-size: 1rem;
        }
    }
    
}